@model IEnumerable<Bakery_Homework.Models.Angajati>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Functie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAngajarii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormularAngajare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComandaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Functie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAngajarii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locatie.IdLocatie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormularAngajare.IdFormular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComandaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAngajat">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAngajat">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAngajat">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
