@model IEnumerable<Bakery_Homework.Models.Locatii>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="@Url.Content("~/css/locations-page.css")">
</head>

<div class="container">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    <div class="row">
        @foreach (var location in Model)
        {
            <div class="col-md-6">
                <div class="card m-4 p-4">
                    <img src="@Url.Content("~/icons/locations/" + location.Image)" class="card-img-top" alt="Location Image">
                    <div class="card-body">
                        <h2 class="card-title">@location.Nume</h2>
                        <p class="card-text">@location.Adresa</p>
                        <p class="card-text">@location.NumarTelefon</p>
                        <div>
                            <a asp-action="Edit" asp-route-id="@location.IdLocatie">Edit</a> |
                            <a asp-action="Details" asp-route-id="@location.IdLocatie">Details</a> |
                            <a asp-action="Delete" asp-route-id="@location.IdLocatie">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
